<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>CtrlReturn</h2>
            <p>A day at the legendary c-base full of workshops and performances where music meets coding! We dive into real-time music creation using code and explore different platforms for audiovisual Live Coding and Algorave performance.</p>
          </div>
          <h3>The Event</h3>
          <p>CtrlReturn provides an exploration of the creative synergies between sound, music and coding, transforming data patterns into immersive auditory experiences. This event is open for everyone - no matter if you are just curious about <a href="https://en.wikipedia.org/wiki/Live_coding" target="_blank">Live Coding</a> or <a href="https://algorave.com/" target="_blank">Algorave</a>, a beginner or a seasoned performer. Or just drop by to enjoy music and drinks at the legendary <a href="https://www.c-base.org/" target="_blank">c-base</a>. Over the course of the day, attendees engage in workshops where they can learn to leverage computational methods for sonification and music making, accompanied by several performances ranging from experimental sound making during the daytime to dance-able electronic music in the evening.</p>
          <p>Note that this event aims to be open and inclusive for everyone and expects attendees to follow the <a href="https://berlincodeofconduct.org/" target="_blank">Berlin Code of Conduct</a>.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
