<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>CtrlReturn</h2>
            <p> – where music meets coding! During this day event at c-base, we'll dive into real-time music creation using code and exploring different platforms for audiovisual performance.</p>
          </div>
          <h3>The Event</h3>
          <p>Our event provides a platform to explore the creative synergies between music and coding. Over the course of the day, attendees will engage in several workshops, which will cover topics such as real-time music creation using Python and the integration of music live coding with other Python modules and data sources. Participants will learn to leverage computational methods for sonification and music making, transforming data patterns and events into immersive auditory experiences.</p>
          <p>Music live coding performances offer a relaxed and/or danceable environment for networking and enjoyment, especially for PyCon.DE & PyData Berlin attendees, as our event is just 15 minutes away. We are collaborating with the organizers to engage participants, making it an ideal opportunity to unwind and connect.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
