<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>LIVE CODE AND LET CODE LIVE</h2>
        <p>Our motivation stems from the belief that strengthening coding skills in creative self-expression enhances its appeal. By integrating Coding into music creation, we tap into the universal language of music using different symbols.</p>
        <p>This initiative aims to stimulate engagement with coding and programming. Recognizing the significant role music plays in shaping identities, we believe our project will bring individuals into contact with Computational Arts and its vibrant community, fostering a sense of belonging and collaboration.</p>
        <br>
        <h2>A LIVE CODED PARALLEL UNIVERSE</h2>
        <p>The organizers’ background is rooted in the <a href="https://foxdot.org/" target="_blank">FoxDot</a> / <a href="https://renardo.org/" target="_blank">Renardo</a> Live Coding environment that is based on Python. However, with an emerging tool called <a href="https://github.com/munshkr/flok" target="_blank">Flok</a>, we now can collectively engage with one another despite our preferred live-coding platform.</p>
      </div>
    </div>
  </div>
</section>
