<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>LIVE CODE AND LET CODE LIVE</h2>
        <p>Our motivation stems from the belief that strengthening Python's role in creative self-expression enhances its appeal. By integrating Python into music creation, we tap into the universal language of music, connecting with people on a profound level.</p>
        <p>This initiative aims to stimulate engagement with Python and programming, particularly among young people. Recognizing the significant role music plays in shaping identities, we believe this event will bring individuals into contact with Python and its vibrant community, fostering a sense of belonging and collaboration.</p>
        <br>
        <h2>A LIVE CODED PARALLEL UNIVERSE</h2>
        <p>The organizers’ background is rooted in the <a href="https://foxdot.org/" target="_blank">FoxDot</a> / <a href="https://renardo.org/" target="_blank">Renardo</a> Live Coding environment that is based on Python and therefore we are especially grateful to <a href="https://2024.pycon.de/" target="_blank">PyCon.DE</a> for supporting this non-profit event. We welcome PyCon.DE & PyData Berlin attendees to visit us - our <a href="https://maps.app.goo.gl/s5vgSuTpQryjUt3X8" target="_blank">location</a> is just 15 minutes away - to unwind, connect and enjoy performances in the relaxed and unique parallel universe of c-base.</p>
      </div>
    </div>
  </div>
</section>
