<section id="contact-form">
  <div class=container>
    <h3> Performer Application Form </h3>
    <p>Bring your unique live coding performances to our event!<br> Whether you specialize in sonic experimentation, electronic beats, or innovative coding techniques, we welcome diverse styles and approaches.</p>
    <br>
    <form action="https://formspree.io/f/mpzvqggo" method="POST">
      <h4>Personal Information</h4>
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Your Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="nickname" placeholder="Your Artist/Band name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Your Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="website" placeholder="Your Website (optional)">
      </div>
      <div class="form-group-2">
        <textarea class="form-control" rows="3" name="bio" placeholder="Write a short bio"></textarea>
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="image" placeholder="Paste a link to an image of you (e.g. https://imgbb.com/)">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="style" placeholder="Is your music rather experimental or dance music <Experimental/EDM>">
      </div>
      <div class="form-group-2">
        <textarea class="form-control" rows="3" name="details" placeholder="Add some details about your music and style"></textarea>
      </div>
      <br>
      <div class="form-group-2">
        <textarea class="form-control" rows="3" name="examples" placeholder="Add links to sound examples (e.g. soundcloud) of your music/visuals"></textarea>
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="present" placeholder="Are you going to be in Berlin? <yes/no>">
      </div>
      <br>
      <button class="btn btn-default" type="submit">Send Application</button>
    </form>
  </div>
 </section>
