<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block">
            <p>The authority of our galaxy has not approven the access to tickets just yet.</p>
            <p>If you want to stay informed, signup to our space newsletter!</p>
            <form
              action="https://formspree.io/f/xdoqelar"
              method="POST"
            >
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your Email">
              </div>
              <button class="btn btn-default" type="submit">Join Newsletter</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
