<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>The Place</h2>
        <p>According to the club members' “findings,” the space station c-base once got into a time hole and crashed to Earth from a distant future due to the suddenly changed conditions. There were a number of highly technical developments and life forms that had not yet been researched on board.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-timer-outline"></i>
                <h4 class="counter">4500000000</h4>
                <span>Age of Space station</span>
              </div>
            </li>
          </ul>
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-glasses-outline"></i>
                <h4 class="counter">1995</h4>
                <span>Year of Discovery</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img src="img/c-base/spacestation.png" alt="IMG">
                <div class="user">
                  <p><span>clamp. The c-base cosmos</span> The framework around everything - overview of activities and possibilities and the construction of the space station.</p>
                </div>
            </div>
            <div>
                <img src="img/c-base/crew.png" alt="IMG">
                <div class="user">
                  <p><span>carbon. The crew</span> The inputs of carbon-based life forms crew and research teams in the logbook. It contains the previously known station history and the reconstruction process.</p>
                </div>
            </div>
            <div>
                <img src="img/c-base/cience.png" alt="IMG">
                <div class="user">
                  <p><span>cience. science and education</span> Seminars and workshops from C like c-base about C programming, Internet use, Linux, web design to Z for future research.</p>
                </div>
            </div>
            <div>
                <img src="img/c-base/creactiv.png" alt="IMG">
                <div class="user">
                  <p><span>creactiv. Projects</span> The focus for creativity and imagination. The crew pools theirs artistic and technical visions through actions and projects.</p>
                </div>
            </div>
            <div>
                <img src="./img/c-base/culture.png" alt="IMG">
                <div class="user">
                  <p><span>culture. The events sector</span> The conception and implementation of exhibitions, sporting events, activities, performance & theater, readings, parties and much more</p>
                </div>
            </div>
            <div>
                <img src="img/c-base/communication.png" alt="IMG">
                <div class="user">
                  <p><span>communication. Discussion and presentation platform</span> Communication between all levels and areas of c-base creates new ideas. Communication on foreign missions opened. Contact options of all kinds, both for expanding the crew as well as the establishment of international contacts.</p>
                </div>
            </div>
            <div>
                <img src="img/c-base/tunnel.png" alt="IMG">
                <div class="user">
                  <p><span>core. The core</span> The organization as a non-profit association (c-base e.V.) is the sponsor the work areas described.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
