<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Learning-by-doing</h2>
        <p>Ctrlreturn.de – where Art meets Coding! During our monthly "CtrlReturn >> Jam&Learn" at c-base, we'll dive into real-time music and video creation using code and explore different platforms/tools for performances.</p>
      </div>
    </div>
    {% for service in site.data.services %}
    <div class="col-sm-6 col-md-3">
      <div class="service-item">
        <i class="{{ service.icon }}"></i>
        <h4>{{ service.title }}</h4>
        <p>{{ service.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
