<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>The Event</h2>
        <p>Ctrlreturn.de – where music meets coding! During this day event at c-base, we'll dive into real-time music creation using code and exploring different platforms for audiovisual performance.</p>
      </div>
    </div>
    {% for service in site.data.services %}
    <div class="col-sm-6 col-md-3">
      <div class="service-item">
        <i class="{{ service.icon }}"></i>
        <h4>{{ service.title }}</h4>
        <p>{{ service.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
