<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block">
            <p>The event is free to enter. However, you will pass a donation box</p>
            <p>on your way in. How much would be a ticket again?</p>
            <p>The money is going towards new events, meetups and our space station c-base</p>
            <p>If you want to stay informed, especially about meetups and events</p>
            <p>beyond this event, signup to our space newsletter!</p>
            <form
              action="https://formspree.io/f/xdoqelar"
              method="POST"
            >
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your Email">
              </div>
              <button class="btn btn-default" type="submit">Join Newsletter</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
