<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block">
            <p>Stay informed about our meetups and events</p>
            <br>
            <h4 style="color: #f7ee2a"><b>Sign up to our space newsletter!</b></h4>
            <br>
            <p></p>
            <form
              action="https://formspree.io/f/xdoqelar"
              method="POST"
            >
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your Email">
              </div>
              <br>
              <button class="btn btn-default" type="submit">Join Newsletter</button>
            </form>
        </div>
        <br>
        <br>
        <div class="container">
          <div class="row">
            <p>Follow us on X (Twitter), Facebook, Instagram, or join our Telegram channel</p>
            {% include social-icons.html %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
