<div>
  <p>--------------------------------</p>
  <p><strong>Entrance to the space station</strong></p>
  <div class="openstreet-map">
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=13.416023254394533%2C52.51137615932425%2C13.424241542816164%2C52.51451679018839&amp;layer=mapnik&amp;marker=52.512943238124336%2C13.420132398605347" style="border: 1px solid black"></iframe><br/>
    <small><a href="https://www.openstreetmap.org/?mlat=52.51294&amp;mlon=13.42013#map=17/52.51295/13.42013">View Larger Map</a></small>
  </div>
</div>
