<section id="portfolio-work">
    <div class="container">
          <div class="col-md-16">
            <div class="block">
              {% for participant in site.participants %}
              <div class="col-md-4">
                <a href="{{ participant.url | relative_url }}">
                  <img src="{{ participant.image }}" alt="{{ participant.title }}">
                </a>
                <div class="overly">
                  <div class="position-center">
                    <h2>{{ participant.title }}</h2>
                    <p>{{ participant.lead }}</p>
                    <p>{{ participant.categories }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
    </div>
</section>


<!-- <section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">All</li>
                    {% assign filters = site.data.participants | group_by: 'category' %}
                    {% for filter in filters %}
                    <li class="filter" data-filter=".{{ filter.name }}">{{ filter.name }}</li>
                    {% endfor %}
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {% for participant in site.data.participants %}
                  <li class="mix {{ participant.category }}">
                    <a href="{{ participant.nick }}.html">
                      <img src="{{ participant.img }}" alt="{{ participant.title }}">
                      <div class="overly">
                        <div class="position-center">
                          <h2>{{ participant.title }}</h2>
                          <p>{{ participant.short }}</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section> -->
