<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class=container>
  <h1>c-base time</h1>
  </div>
  <div class="headercontainer">
    <div class="tablecontainer">
      <table border="5" cellspacing="0" align="center">
          <!--<caption>Timetable</caption>-->
        <thead>
          <tr>
              <td align="center" height="50" width="100"><br>
                  <b>Day/Period</b></br>
              </td>
              <td align="center" height="50" width="100">
                  <b>10:30-11:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>11:00-12:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>12:00-13:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>13:00-14:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>14:00-15:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>15:00-16:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>16:00-17:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>17:00-18:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>18:00-19:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>19:00-20:00</b>
              </td>
              <td align="center" height="50" width="100">
                  <b>20:00-??:??</b>
              </td>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td rowspan="2", align="center" height="50">
                  <b> Tuesday <br> 23.04. </b>
              </td>
              <td align="center" width="20" height="25">Wake up Coffee</td>
              <td align="center" height="25">Workshop 1</td>
              <td align="center" height="25">Workshop 2</td>
              <td rowspan="4" align="center" height="50">
                  <h2>L<br>U<br>N<br>C<br>H</h2>
              </td>
              <td align="center" height="25">Workshop 3</td>
              <td align="center" height="25">Workshop 4</td>
              <td align="center" height="25">Workshop 5</td>
              <td align="center" height="25">Workshop 6</td>
              <td align="center" height="25">Collaborative <br>Jam</td>
              <td rowspan="4" align="center" height="50">
                  <h2>D<br>I<br>N<br>E<br>R</h2>
              </td>
              <td rowspan="2" align="center" height="50" class="bg">EDM Performances</td>
          </tr>
          <tr>
              <td colspan="3" align="center" height="25">Experimental Performances</td>
              <td colspan="5" align="center" height="25">Experimental Performances</td>
          </tr>
          <tr>
            <td rowspan="2" align="center" height="50">
                <b> Wednesday <br> 24.04. </b>
            </td>
            <td align="center" height="50">Wake up Coffee</td>
            <td align="center" height="50">Workshop 7</td>
            <td align="center" height="50">Workshop 8</td>
            <td align="center" height="50">Workshop 9</td>
            <td align="center" height="50">Workshop 10</td>
            <td align="center" height="50">Workshop 11</td>
            <td align="center" height="50">Workshop 12</td>
            <td align="center" height="25">Collaborative <br>Jam</td>
            <td rowspan=2 align="center" height="50" class="bg">EDM Performances</td>
          </tr>
          <tr>
              <td colspan="3" align="center" height="25">Experimental Performances</td>
              <td colspan="5" align="center" height="25">Experimental Performances</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
