<!-- Portfolio Start -->
<section id="portfolio-work">
  <hr width="90%" size="1" color="#540000">
    <div class="tablecontainer">
      <table cellspacing="0" align="center">
          <!--<caption>Timetable</caption>-->
        <thead>
          <tr>
              <td align="center" height="40" width="60">
                  <h4><b>Date</b></h4>
              </td>
              <td align="center" height="40" width="60">
                  <h4><b>Meetup/Event</b></h4>
              </td>
              <td align="center" height="40" width="180">
                  <h4><b>What is on</b></h4>
              </td>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td align="center" height="25">10/01/25</td>
              <td align="center" height="25">Jam&Learn #8</td>
              <td align="center" height="25"><b>A round table in Mainhall</b><br><i>Collaborative audio-visual performance</i><br><i>à la Learning-by-doing</i></td>
          </tr>
          <tr>
              <td align="center" height="25">14/02/25</td>
              <td align="center" height="25">Jam&Learn #9</td>
              <td align="center" height="25"><b>Class room</b><br><i>Intro to CtrlReturn Distro</i><br><i>Collaborative audio-visual session</i></td>
          </tr>
          <tr>
              <td align="center" height="25">14/03/25</td>
              <td align="center" height="25">Jam&Learn #10</td>
              <td align="center" height="25"><b>A round table in Mainhall</b><br><i>19.30 Intro to latest CtrlReturn Distro</i><br><i>20.00 Collaborative audio-visual performance</i><br><i>à la Learning-by-doing</i></td>
          </tr>
          <tr>
              <td align="center" height="25">11/04/25</td>
              <td align="center" height="25">Jam&Learn #11</td>
              <td align="center" height="25"><b>A round table in Mainhall</b><br><i>Collaborative audio-visual performance</i><br><i>à la Learning-by-doing</i></td>
          </tr>
          <tr>
              <td align="center" height="25">09/05/25</td>
              <td align="center" height="25">Jam&Learn #12</td>
              <td align="center" height="25"><b>A round table in Mainhall</b><br><i>Collaborative audio-visual performance</i><br><i>à la Learning-by-doing</i></td>
          </tr>
        </tbody>
      </table>
    </div>
  <hr width="90%" size="1" color="#540000">
</section>
